@{
    ViewData["Title"] = "Home Page";
}
@model GameManager
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div>
    <component type="typeof(Lobby)" render-mode="ServerPrerendered"/>
</div>

