html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.square {
    height: 4rem;
    width: 4rem;
}

.black {
    background-color: #3a9c42;
}
.white {
    background-color: #d9deda;
}
.selected {
    background-color: #e6e345;
}

.chessboard {
    display: flex;
    align-items: center;
    justify-content: center;
}

.square img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 4rem;
    width: 4rem;
}

.squares {
    display: grid;
    grid-template-columns: repeat(8, 4rem);
}

.informer {
    background: #eeeeee;
    border-radius: 4px;
    padding: 0;
    text-align: center;
    width: 120px;
}

.timer {
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opponentSide {
    border-radius: 4px 4px 0 0;
    background-color: #5bc0de;
    text-align: center;
}

.playerSide {
    border-radius: 0 0 4px 4px;
    background-color: #5bc0de;
    text-align: center;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

.white-dot {
    background-color: white;
}

.black-dot {
    background-color: black;
}

.lobby {
    width: 1000px;
}
.grey-color {
    background-color: #f5f5f5;
}

.bordered {
    border: 1px solid #ddd;
}

hr.divider {
    margin: 0em;
    border-width: 2px;
}

.disabledelement {
    pointer-events: none;
}